body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
}

.header {
    background-color: #b2ee94;
    height: 100px;
    width: 100%;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 200px);
    width: 100%;
}

.main-left {
    background-color: #ff8983;
    height: 100%;
    width: 100%;
}

.main-right {
    background-color: #99c2fe;
    height: 100%;
    width: 100%;
}

.footer {
    background-color: #8881ff;
    height: 100px;
    width: 100%;
}