body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease-in-out;
}

.contenedor {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.boton-modo {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    padding: 10px;
}

.boton-modo:hover {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
}

.dark-mode {
    background-color:  #222;
    color: #fff;
}

.dark-mode button {
    background-color: #444;
    border: 1px solid #fff;
    color: #fff;
}

.dark-mode button:hover {
    background-color: #fff;
    color: #222;
}